
@model Sudoku

@{
    ViewData["Title"] = "Home Page";
}
@* Chỗ này để viết sciprt JavaScript á *@
<script>
//
    $(document).ready(function () {
       // ResetPossible();
    });
//
    function test() {
        var CellSelected = @Model.SelectedCell.Value;
        if (CellSelected != 0) {
            document.getElementById("test").innerHTML = CellSelected;
        }
    }
//
    function ResetPossible(){
       $.ajax({
                type: 'GET',
                url: "@Url.Action("ResetPossible", "Home")",
                data: {},
                success: function (msg) {
                    console.log("ResetPossible");
                }
            });
    }
//
    function ResetCell() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ResetCell", "Home")",
            success: function () {
                location.reload(true);
            }
        });
    }
//
    function FocusSelectedCell()
    {
        var id = "@Html.Raw(Model.SelectedCell.Id)";
        var cell = document.getElementById(id);
        cell.focus();
    }
//
    function OnCellSelected(cell)
     {
        var res = cell.id.split("_");
        var i = res[0];
        var j = res[1];
        var val = cell.id.value;
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetSelectedCell", "Home")",
                data: {i: i, j: j},
                success: function (msg) {
                    document.getElementById("PossibleString").innerHTML = msg;
                    console.log("OnCellSelected on true");
                }
            });

    }
//
    function OnCellInput(cell)
        {
            var res = cell.id.split("_");
            var i = res[0];
            var j = res[1];

            var val = cell.value;
            val = val.replace(/[^\d]/, '');
            val = val.substring(0, 1);
            cell.value = val;

        var Possible = document.getElementById("PossibleString").innerHTML;
        if (val == "") { val = "0"; }
        if (Possible.includes(val) || val == "0") {
                $.ajax({
                    type: 'POST',
                    dataType: "text",
                    url: "@Url.Action("GetCellValue", "Home")",
                    data: { i: i, j: j, val: val },
                    success: function () {
                        location.reload(true);
                        console.log("OnCellInput is true");
                        //alert("This");
                    }
                });
        }
        else {
            alert("Vui lòng nhập đúng như trong gợi ý");
            cell.value = 0;
        }

    }
    //
    function OnNewGameClick() {
        var difficult = 40;
        if (document.getElementById("easy").checked) difficult = 20;
        if (document.getElementById("difficult").checked) difficult = 60;
         $.ajax({
                type: 'POST',
             url: "@Url.Action("PostNewGame", "Home")",
             data: { difficult: difficult },
                success: function ()
                {
                    location.reload(true);
                    alert("Completed");
                }
            });
    }
    //
    function OnCheckOneCell() {
        if (@Model.SelectedCell.Value != 0) {
            console.log(@Model.SelectedCell.Value);
            $.ajax({
                type: 'GET',
                url: "@Url.Action("CheckOneCell", "Home")",
                data: {},
                success: function (msg)
                {
                    console.log("OnCellSelected on true");

                    alert("Ô này " + msg);

                    console.log("this "+ msg);
                }
            });
        }
    }
    function OnSolveClick() {
        console.log("OnSolveClick Run");
        $.ajax({
                type: 'POST',
                url: "@Url.Action("PostSolve", "Home")",
                data: {},
                success: function ()
                {
                    location.reload(true);
                    console.log("OnSolveClick true");
                }
        });
    }

    function uploadFiles() {
        var path = document.getElementById("myfile").innerHTML;
        if (document.getElementById("myfile").files.length != 0 ) {
            var formData = new FormData();
            formData.append('file', $('#myfile')[0].files[0]); // myFile is the input type="file" control

            var _url = '@Url.Action("UploadFile", "Home")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function () {
                    location.reload(true);
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }
        else {
            alert("Không có file ");
        }
    }

</script>
@* Chỗ này là thân index nè *@
<div class="text-center">
    <h1 class="display-4">Game Sudoku</h1>

    <div class="text-center">
        @if (Model != null)
        {
            <p id="test"></p>
            <p id="PossibleString"></p>
            <table class="GameGrid">
                @for (int i = 0; i < 9; i++)
                {
                    var btnId = "btn" + i;
                    var btnVal = (i + 1).ToString();
                    <tr>
                        @for (int j = 0; j < 9; j++)
                        {
                            var val = Model.Cells[i, j].Value;
                            var id = i.ToString() + "_" + j.ToString();

                            if (Model.Cells[i, j].ReadOnly == true)
                            {
                                <td class="GameCell">
                                    <input id="@id" type="number" disabled value="@val" class="GameCellText" />
                                </td>
                            }
                            else if (val == 0)
                            {
                                <td class="GameCell">
                                    <input id="@id" type="number" min="1" max="9" class="GameCellText" onclick="OnCellSelected(this)" oninput="OnCellInput(this)" />
                                </td>
                            }
                            else
                            {
                                <td class="GameCell">
                                    <input id="@id" type="number" value="@val" min="1" max="9" class="GameCellText" onclick="OnCellSelected(this)" oninput="OnCellInput(this)" />
                                </td>
                            }
                        }

                    </tr>
                }
            </table>
            <input id="BtnNewGame" type="button" value="New Game" onclick="OnNewGameClick()" />
            <input id="BtnSolve" type="button" value="Solve" onclick="OnSolveClick()" />
            <input id="BtnCheckOneCell" type="button" value="Check One Cell" onclick="OnCheckOneCell()" />
            <input id="BtnReset" type="button" value="Reset Cells" onclick="ResetCell()" />
            <div>
                <form>
                    <input type="radio" id="easy" name="gender">
                    <label for="easy">Dễ ẹt</label><br>
                    <input type="radio" id="medium" name="gender">
                    <label for="medium">Vừa thôi</label><br>
                    <input type="radio" id="difficult" name="difficult">
                    <label for="difficult">Khó lắm đó</label>
                </form>
            </div>



            @*<form method="post" enctype="multipart/form-data">
                <input id="FileGame" type="file" name="file" />
                <input type="button" value="LoadFile" onclick="UploadFile()" />
            </form>*@

            <input type="file" id="myfile" class="required" />
            <button type="button" value="Load Game" class="btn btn-info" onclick="uploadFiles()">Load File</button>
            <a asp-action="TestFile" asp-controller="Home">Down File</a>
        }
        else
        {
            <p>Doan nay chung to Model null</p>
        }
    </div>
</div>